@media screen and (max-width:870px) {
    .container {
        flex-direction: column;
    }
    
    .container-images {
        display: none;
    }
      
      .carousel-image {
        display: none;
    }

    .container-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-signup {
        width: 350px;
    }
}